// Varibales

// // Colors
$primary: #0f9af1;
$secondary: #1717ef;
$tertiary: #09099b;
$light: #ffffff;
$light-alt: #f0f0f0;
$dark: #000000;
$dark-alt: #2a2a2a;
$gradient: linear-gradient(147deg, #001f63 26.64%, #5c00f3 120.1%);

// // Font Family
$urbanist: "Urbanist", sans-serif;
$ibrand: "Ibrand", sans-serif;

// // Break Points
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
