@font-face {
    font-family: 'Ibrand';
    src: url('Ibrand-Regular.woff2') format('woff2'),
        url('Ibrand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibrand';
    src: url('Ibrand-Regular.woff2') format('woff2'),
        url('Ibrand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibrand';
    src: url('Ibrand-Regular.woff2') format('woff2'),
        url('Ibrand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibrand';
    src: url('Ibrand-Regular.woff2') format('woff2'),
        url('Ibrand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

