* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: $primary transparent;
  scrollbar-width: thin;
  &::selection {
    background: $primary;
    color: $light;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background: $dark;
}
::-webkit-scrollbar-thumb {
  background: $primary;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: $urbanist;
  background: $light;
  overflow-x: hidden;
  position: relative;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  b,
  i,
  u,
  ul,
  ol,
  li,
  span {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    line-height: 100%;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    color: $dark-alt;
    line-height: 140%;
    letter-spacing: 0.4px;

    a {
      color: $dark-alt;
      transition: 0.4s all ease;

      &:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  img,
  video {
    width: 100%;
  }

  .section {
    width: 100%;
    padding: 50px 0;
    position: relative;
    // overflow: hidden;
  }
  .heading {
    color: $dark;
    text-align: center;
    font-family: $ibrand;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
