// Hero

.hero {
  position: relative;
  .bg-texts {
    h2 {
      text-align: center;
      font-size: 12.2vw;
      font-weight: 700;
      &:nth-child(1) {
        color: #ebf9ff;
        text-align: start;
      }
      &:nth-child(2) {
        color: #e4f1ff;
        text-align: center;
      }
      &:nth-child(3) {
        color: #e7e7ff;
        text-align: end;
      }
    }
  }
  .main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    h2 {
      color: $dark;
      text-align: center;
      font-family: $ibrand;
      font-size: 7.7vw;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      text-align: center;
    }
  }
}

// Domain Name
.domain-name {
  .container {
    padding: 0 6vw;
  }
  .step-cards {
    .card {
      margin-bottom: 15px;
      padding: 12px;
      border-radius: 10px;
      border: 0;
      height: 52px;
      .step {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 90%;
        padding: 8px 15px;
        border-radius: 50px;
        background: #ffffff;
        width: 80px;
        text-align: center;
      }
      &:nth-child(1) {
        background: $primary;
        .step {
          color: $primary;
        }
      }
      &:nth-child(2) {
        background: $secondary;
        .step {
          color: $secondary;
        }
      }
      &:nth-child(3) {
        background: $tertiary;
        .step {
          color: $tertiary;
        }
      }
      .inner-text {
        opacity: 0;
        .in-step {
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          line-height: 1.3;
        }
        h5 {
          color: #fff;
          font-size: 30px;
          font-style: normal;
          font-weight: 500;
          line-height: 1.3;
        }
      }
      &.active {
        height: 140px;
        .inner-text {
          opacity: 1;
        }
        .step {
          display: none;
        }
      }
    }
  }
  .domain-video {
    border-radius: 40px;
    overflow: hidden;
    video {
      border-radius: 40px;
    }
  }
  .text-card {
    border-radius: 20px;
    background: #e7e7e7;
    padding: 50px 17px;
    p {
      font-size: 15px;
      font-weight: 500;
    }
  }
  .numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .num {
      display: inline-block;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: $light;
      font-size: 16px;
      box-shadow: 0 0 10px #39393b42;

      &:nth-child(1) {
        background: $primary;
      }
      &:nth-child(2) {
        background: $secondary;
        position: relative;
        right: 12px;
      }
      &:nth-child(3) {
        background: $tertiary;
        position: relative;
        right: 24px;
      }
    }
  }
}

.experty-build {
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cta-heading {
    text-align: center;
    padding: 30px 0;
    width: 110%;

    a{
      text-align: center;
      display: flex;
      justify-content: center;
      h4 {
        color: #fff;
        text-align: center;
        font-size: 32px;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        position: relative;
        width: fit-content;
        &::after{
          position: absolute;
          content: '';
          display: block;
          width: 38px; 
          height: 18px; 
          background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'38\' height=\'18\' viewBox=\'0 0 38 18\' fill=\'none\'%3E%3Cpath d=\'M36.7356 7.97248C36.7351 7.97204 36.7348 7.97153 36.7342 7.9711L29.1493 0.422705C28.581 -0.142771 27.662 -0.140667 27.0963 0.42764C26.5308 0.995874 26.533 1.91496 27.1012 2.48051L32.1937 7.54839L1.45161 7.54839C0.649887 7.54839 -3.81761e-09 8.19827 -4.19094e-09 9C-4.56427e-09 9.80173 0.649887 10.4516 1.45161 10.4516L32.1937 10.4516L27.1013 15.5195C26.533 16.085 26.5309 17.0041 27.0964 17.5724C27.662 18.1407 28.5812 18.1427 29.1493 17.5773L36.7343 10.0289C36.7348 10.0285 36.7351 10.028 36.7356 10.0275C37.3042 9.46009 37.3023 8.53802 36.7356 7.97248Z\' fill=\'white\'/%3E%3C/svg%3E');
          background-size: contain; 
          background-repeat: no-repeat; 
          position: absolute; 
          z-index: 11;
          right: -25px;
          opacity: 0;
          top: 50%; 
          transform: translateY(-50%);
          transition: all .3s linear;
        }
      }
    }
    &:hover{
      a{
        h4{
          &::after{
            opacity: 1;
            right: -53px;
          }
        }
      }
    }
    &:nth-child(1) {
      transform: rotate(1.3deg);
      background: $primary;
    }
    &:nth-child(2) {
      transform: rotate(-1.1deg);
      background: $secondary;
    }
    &:nth-child(3) {
      transform: rotate(0.3deg);
      background: $tertiary;
    }
  }
}

// Ready to Explore
.ready-to-explore {
  .heading {
    margin-bottom: 50px;
  }
  .thumbslider {
    .swiper-slide {
      height: 60px !important;
      padding: 15px;
      border-radius: 15px;
      transition: 0.5s all ease;
      .thumb {
        display: flex;
        align-items: start;
        gap: 15px;

        .icon {
          svg {
            width: 30px;
            margin-top: -7px;
          }
        }

        .text {
          h4 {
            color: #111;
            font-size: 20px;
            font-weight: bold;
          }
          p {
            color: #232323;
            font-size: 14px;
            font-weight: 500;
            margin-top: 10px;
            opacity: 0;
            transition: 0.5s all ease;
          }
        }
      }
      &.swiper-slide-thumb-active.swiper-slide-visible {
        height: 128px !important;
        background: #ededed;
        .text {
          p {
            opacity: 1;
          }
        }
      }
    }
  }

  .navslider {
    .video-slide {
      border-radius: 15px;
      overflow: hidden;
      video {
        height: 100%;
        width: 100%;
        border-radius: 15px;
      }
    }
  }
}

// Start Sucess
.start-sucess {
  position: relative;
  marquee {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 4;
    .headings {
      width: 100%;
      display: flex;
      gap: 15px;
      padding: 10px 0;
      h4 {
        color: #fff;
        font-family: $ibrand;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}


// Vouch For Us 

.Vouch_wrapper{
  height: 100%;
  position: relative;
  margin-top: 3rem;

  .Vouch_slider{
    padding-bottom: 3rem;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(450 / 14.4 * 1rem) !important;

    .videoSlider_videoWrap{
      position: relative;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .6;
      overflow: clip;
      transition: opacity .2s linear, width .2s cubic-bezier(.25,1,.5,1), height .2s cubic-bezier(.25,1,.5,1);

      .videoSlider_info_content{
        .admin_name{
          color: $dark;
          text-align: center;
          font-family: $urbanist;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .admin_designation{
          color: rgba(0, 0, 0, 0.80);
          text-align: center;
          font-family: $urbanist;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }
      }

      .video_button{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        border: none;

        video{
          height: 100%;
          object-fit: cover;
          display: inline-block;
          vertical-align: baseline;
        }

        .button_wrap{
          position: absolute;
          display: flex;
          width: 50px;
          height: 50px;
          padding: 16px;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          background: var(--1, linear-gradient(147deg, #001F63 26.64%, #5C00F3 120.1%));
          border-radius: 7px;
        }
      }

      
    }

    &.swiper-slide-active{
      .videoSlider_videoWrap{
        opacity: 1;
        height: calc(425 / 14.4 * 1rem);
      }
    }
  }

  .videoSlider_cornerWrap{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .videoSlider_corners {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56vw;
      height: calc(400 / 14.4 * 1rem);
      transition: all .2s cubic-bezier(.25,1,.5,1);
    }

    .global_corners{
      --gfs: 14.4;
      background: 
                  linear-gradient(to right, #001F63 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 0 0,
                  linear-gradient(to right, #5C00F3 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 0 100%,
                  linear-gradient(to left, #001F63 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 100% 0,
                  linear-gradient(to left, #5C00F3 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 100% 100%,
                  linear-gradient(to bottom, #001F63 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 0 0,
                  linear-gradient(to bottom, #5C00F3 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 100% 0,
                  linear-gradient(to top, #001F63 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 0 100%,
                  linear-gradient(to top, #5C00F3 calc(2 / var(--gfs) * 1rem), transparent calc(1 / var(--gfs) * 1rem)) 100% 100%;
      background-repeat: no-repeat;
      background-size: calc(12 / var(--gfs)* 1rem) calc(12 / var(--gfs)* 1rem);
    }
  }
}

.fullscreen-modal .modal-dialog {
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.fullscreen-modal .modal-content {
  background-color: transparent;
  border: none;
}

.fullscreen-modal {
  .modal-body {
    padding: 0;
  }

  .close-btn{
    position: absolute;
    right: 40px;
    top: 20px;
    z-index: 999;
  }

  video {
    height: 100vh; /* Fullscreen height */
  }
}
